<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>WorldCupApp</title>
    <link rel = "stylesheet" href = "../css/templates-styles/main.css">
    <link rel = "stylesheet" href = "../css/components-styles/browser.css">
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <script src = "https://kit.fontawesome.com/3251cdb940.js" crossorigin = "anonymous"></script>
</head>
<body>
    <header>
        <div>
        </div>
        <nav>
        </nav>
    </header>
    <main class = "main">
        <div class = "searchbar">
            <div class = "searchbar__items">
                <input type = "text" class = "searchbar__item searchbar__item--padding" placeholder = "Buscar">
                <button type = "submit" class = "fa-solid fa-magnifying-glass searchbar__item searchbar__item--button"></button>
            </div>
        </div>
        <div>
            <aside></aside>
            <div></div>
        </div>
    </main>
    <footer></footer>
</body>
</html>