<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>WorldCupApp</title>
    <link rel = "stylesheet" href = "../css/templates-styles/main.css">
    <link rel = "stylesheet" href = "../css/components-styles/filter.css">
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <script src = "https://kit.fontawesome.com/3251cdb940.js" crossorigin = "anonymous"></script>
</head>
<body>
    <header>
        <nav></nav>
        <div></div> 
    </header>
    <main class = "main">
        <div></div>
        <div>
            <aside class = "filter">
                <p class = "filter__title">Ordenar</p>
                <div class = "filter__information">
                    <div class = "information">
                        <div class = "information__item">
                            <input class = "information__item--radiocheck" type = "radio" name = "check">
                            <label>Menor Distancia</label>
                        </div>
                        <div class = "information__item">
                            <input class = "information__item--radiocheck" type = "radio" name = "check">
                            <label>Más Barato</label>
                        </div>
                        <div class = "information__item">
                            <input class = "information__item--radiocheck" type = "radio" name = "check">
                            <label>Más Sobres</label>
                        </div>
                        <div class = "information__item">
                            <input class = "information__item--radiocheck" type = "radio" name = "check">
                            <label>Sólo los más cercanos</label>
                        </div>
                    </div>
                </div>
            </aside>
            <div></div>
        </div>
    </main>
    <footer></footer>
</body>
</html>