<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>WorldCupApp</title>
    <link rel = "stylesheet" href = "../css/templates-styles/main.css">
    <link rel = "stylesheet" href = "../css/components-styles/filter.css">
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <script src = "https://kit.fontawesome.com/3251cdb940.js" crossorigin = "anonymous"></script>
</head>
<body>
    <header>
        <nav></nav>
        <div></div> 
    </header>
    <main class = "main">
        <div></div>
        <div>
            <aside class = "filter">
                <p class = "filter__title">Filtros</p>
                <div class = "filter__information">
                    <p class = "filter__information--title">Valoración</p>
                    <div class = "filter__information--inputs">
                        <div class = "information__input">
                            <label>Desde</label>
                            <input class = "information__input--value" type = "number" min = "0" placeholder = "Desde">
                        </div>
                        <div class = "information__input">
                            <label>Hasta</label>
                            <input class = "information__input--value" type = "number" min = "0" placeholder = "Hasta">
                        </div>
                    </div>
                    <div class = "filter__information--checkboxs">
                        <div class = "information__checkbox">
                            <input type = "checkbox" name = "on-fire">
                            <label>On fire</label>
                        </div>
                        <div class = "information__checkbox">
                            <input type = "checkbox" name = "es-promesa">
                            <label>Es promesa</label>
                        </div>
                    </div>
                </div>
            </aside>
            <div></div>
        </div>
    </main>
    <footer></footer>
</body>
</html>