<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>WorldCupApp</title>
    <link rel = "stylesheet" href = "../css/templates-styles/main.css">
    <link rel = "stylesheet" href = "../css/components-styles/header.css">
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <script src = "https://kit.fontawesome.com/3251cdb940.js" crossorigin = "anonymous"></script>
    <script src = "../scripts-js/menu-action.js" crossorigin = "anonymous"></script>
</head>
<body>
    <header class = "header">
        <div id = "menu" class = "menu">
            <div class = "menu__items">
                <div class = "menu__item--title">
                    <p class = "menu__item--position">WorldCApp</p>
                </div>
                <button class = "fa-solid fa-bars menu__item--button" onclick = "menuAction()"></button>
            </div>
            <nav class = "nav">
                <ul class = "nav__items">  
                    <li class = "nav__item"><a href = "../templates/searchFigurines.html">Figuritas</a></li>  
                    <li class = "nav__item"><a href = "../templates/searchEnvelopes.html">Sobres</a> </li>
                    <li class = "nav__item"><a href = "../templates/profileInformation.html">Perfil</a></li>
                    <li class = "nav__item"><button class = "fa-solid fa-right-from-bracket nav__item nav__button--logout"></button></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class = "main">
        <div>
        </div>
        <div>
            <aside></aside>
            <div></div>
        </div>
    </main>
    <footer></footer>
</body>
</html>
