<nav class = "user__nav">
  <ul class = "nav__user--items">  
    <li
      class = "nav__user--item"
      id = "information"
    >
      <a
        routerLink = "/profile/information"
        routerLinkActive = "active"
        data-testid = "user-information"
      >Información del perfil</a>
    </li>  
    <li
      class = "nav__user--item"
      id = "repeated"
    >
      <a
        routerLink = "/profile/repeated-figurines"
        routerLinkActive = "active"
        data-testid = "repeated-figurines"
      >Figuritas Repetidas</a>
    </li>
    <li 
      class = "nav__user--item"
      id = "missing"
    >
      <a
        routerLink = "/profile/missing-figurines"
        routerLinkActive = "active"
        data-testid = "missing-figurines"
      >Figuritas Faltantes</a>
    </li>
  </ul>
</nav>