<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>WorldCupApp</title>
    <link rel = "stylesheet" href = "../css/templates-styles/main.css">
    <link rel = "stylesheet" href = "../css/components-styles/header.css">
    <link rel = "stylesheet" href = "../css/components-styles/browser.css">
    <link rel = "stylesheet" href = "../css/components-styles/filter.css">
    <link rel = "stylesheet" href = "../css/components-styles/figurine.css">
    <link rel = "stylesheet" href = "../css/components-styles/pointOfSale.css">
    <link rel = "stylesheet" href = "../css/components-styles/footer.css">
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <script src = "https://kit.fontawesome.com/3251cdb940.js" crossorigin = "anonymous"></script>
    <script src = "../scripts-js/menu-action.js" crossorigin = "anonymous"></script>
</head>
<body class = "scroll--style">
    <header class = "header">
        <div id = "menu" class = "menu">
            <div class = "menu__items">
                <div class = "menu__item--title">
                    <p class = "menu__item--position">WorldCApp</p>
                </div>
                <button class = "fa-solid fa-bars menu__item--button" onclick = "menuAction()"></button>
            </div>
            <nav class = "nav">
                <ul class = "nav__items">  
                    <li class = "nav__item"><a href = "../templates/searchFigurines.html">Figuritas</a></li>  
                    <li class = "nav__item"><a href = "../templates/searchEnvelopes.html">Sobres</a> </li>
                    <li class = "nav__item"><a href = "../templates/profileInformation.html">Perfil</a></li>
                    <li class = "nav__item"><button class = "fa-solid fa-right-from-bracket nav__item nav__button--logout"></button></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class = "main">
        <div class = "searchbar">
            <div class = "searchbar__items">
                <input type = "text" class = "searchbar__item searchbar__item--padding" placeholder = "Buscar">
                <button type = "submit" class = "fa-solid fa-magnifying-glass searchbar__item searchbar__item--button"></button>
            </div>
        </div>
        <div class = "body--distribution">
            <aside class = "filter">
                <p class = "filter__title">Ordenar</p>
                <div class = "filter__information">
                    <div class = "information">
                        <div class = "information__item">
                            <input class = "information__item--radiocheck" type = "radio" name = "check">
                            <label>Menor Distancia</label>
                        </div>
                        <div class = "information__item">
                            <input class = "information__item--radiocheck" type = "radio" name = "check">
                            <label>Más Barato</label>
                        </div>
                        <div class = "information__item">
                            <input class = "information__item--radiocheck" type = "radio" name = "check">
                            <label>Más Sobres</label>
                        </div>
                        <div class = "information__item">
                            <input class = "information__item--radiocheck" type = "radio" name = "check">
                            <label>Sólo los más cercanos</label>
                        </div>
                    </div>
                </div>
            </aside>
            <div class = "grid">
                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Supermercado Chumbo</p>
                            <i class = "basket-icon fa-solid fa-basket-shopping"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Librería Jorge</p>
                            <i class = "pen-rule-icon fa-solid fa-pen-ruler"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Kiosco Lo Pibe!</p>
                            <i class="fa-solid fa-store"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Supermercado Chumbo</p>
                            <i class = "basket-icon fa-solid fa-basket-shopping"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Librería Jorge</p>
                            <i class = "pen-rule-icon fa-solid fa-pen-ruler"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Kiosco Lo Pibe!</p>
                            <i class="pointOfSale-icon fa-solid fa-store"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Supermercado Chumbo</p>
                            <i class = "basket-icon fa-solid fa-basket-shopping"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Librería Jorge</p>
                            <i class = "pen-rule-icon fa-solid fa-pen-ruler"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class = "grid__item">
                    <div class = "figurine figurine--pointOfSale">
                        <div class = "pointOfSale__title">
                            <p>Kiosco Lo Pibe!</p>
                            <i class="pointOfSale-icon fa-solid fa-store"></i>
                        </div>
                        <div class = "pointOfSale__information">
                            <div class = "pointOfSale__information--general pointOfSale__information--position1 pointOfSale__information--border">
                                <p><span>Dirección:</span>Avenida Siempre viva 5555, Springfield</p>
                                <p><span>Ubicación geográfica:</span>(34,55443;44,42342)</p>
                                <p><span>Distancia:</span>3km</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position2 pointOfSale__information--border">
                                <p><span>Stock de Sobres:</span>45 unidades Pedidos Pendientes</p>
                            </div>
                            <div class = "pointOfSale__information--general pointOfSale__information--position3">
                                <p><span>Precio por sobre $240</span></p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class = "footer">
        <i class = "footer__i--facebook fa-brands fa-square-facebook"></i>
        <p>
            <span class = "footer__span--label">WorldCApp</span> / 2023
        </p>
    </footer>
</body>
</html>