<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>WorldCupApp</title>
    <link rel = "stylesheet" href = "../css/templates-styles/main.css">
    <link rel = "stylesheet" href = "../css/templates-styles/userLogin.css">
    <link rel = "stylesheet" href = "../css/components-styles/footer.css">
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <script src = "https://kit.fontawesome.com/3251cdb940.js" crossorigin = "anonymous"></script>
</head>
<body class = "scroll--style">
    <main class = "login--container">
        <form class = "login" method = "POST">
            <h1 class = "login__title--position">WorldCApp</h1>   
            <div class = "login__user">
                <p class = "user--label">Usuario</p>
                <div class = "user--information">
                    <i class = "fa-solid fa-user user--icon"></i>
                    <input type = "text" class = "user--data" placeholder = "Usuario">
                </div>
            </div>
            <div class = "login__user">
                <p class = "user--label">Contraseña</p>
                <div class = "user--information">
                    <i class = "fa-solid fa-key user--icon"></i>
                    <input type = "password" class = "user--data" placeholder = "Contraseña">
                </div>
            </div>
            <button class = "login__button">Ingresar</button>
        </form>
    </main>
    <footer class = "footer">
        <i class = "footer__i--facebook fa-brands fa-square-facebook"></i>
        <p>
            <span class = "footer__span--label">WorldCApp</span> / 2023
        </p>
    </footer>
</body>
</html>